p{font-family: Georgia, 'Times New Roman', Times, serif;font-size: large; text-align: center; margin-left: 600px; margin-right: 600px; color: black; border: 1px solid black;
    opacity: .6;}
h1{ text-align: center;}
table{border: 1px solid black; ;}
th{border: 1px solid black}
tR{border: 1PX SOLID BLACK ;}
.center{ margin-left: auto; margin-right: auto; opacity: .6                            }